
<footer class="w-100 h-65 m-t-50 bg-img-2">
  <div class="w-85 d-flex a-i-center j-c-between center flex-column-mobile p-t-30-mobile p-b-30-mobile">
      <p class="fs-20 color-4 encodeSansCondensed">2018 © Copyright - Coffeart.</p> 
      <img class=" d-none-mobile w-10 h-auto p-b-30 p-t-30 p-t-30-mobile p-b-30-mobile j-c-center" src="./assets/img/logo_coffeart.png">
      <div class="fs-nav color-2 w-100-mobile text-center-mobile p-t-30-mobile">
          <a href="#" class="fa fa-facebook color-4 no_line m-social "></a>
          <a href="#" class="fa fa-twitter color-4 no_line m-social"></a>
          <a href="#" class="fa fa-instagram color-4 no_line "></a>
      </div>
  </div>
</footer> 



<!--JavaScript at end of body for optimized loading-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="./assets/js/script.js"></script>



<script>
      // Look for .hamburger
  var hamburger = document.querySelector(".hamburger");
  // On click
  hamburger.addEventListener("click", function() {
    // Toggle class "is-active"
    hamburger.classList.toggle("is-active");
    $('#navigation').fadeToggle(500);
  });
</script>

