<!DOCTYPE html>
<html>
    <head>
        <base href="http://localhost/coffeart/">
        <!--Import Google Icon Font-->        
        <link rel="stylesheet" href="./assets/css/reset.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
        <link rel="stylesheet" href="./assets/css/style.css">
        <link href="./assets/css/hamburgers.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> <!--ICON SOCIAL MEDIA -->
<<<<<<< HEAD

        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        
=======
        <link href="https://fonts.googleapis.com/css?family=Encode+Sans+Condensed:100,300,400,600,700|Merriweather:300,400,700" rel="stylesheet"> 

>>>>>>> d9bfe340668a154a0dd76ee88e238c0c042b7127
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>{% block title %}Coffeart{% endblock %}</title>
    </head>
    <body class="d-flex flex-direction-column a-i-center z_0" >
        {% include 'Layout/nav.html.twig' %}
        <form action="resultat" method="GET" class="z_2 absolute">
            <input type="text" name="result" >
            <button type="submit" name="submitform">ENVOYER</button>
        </form>
        <main class="bg-color-1 w-95 h-95">
            {% block content %}{% endblock %}
        </main>

        {% include 'Layout/footer.html.twig' %}
        
    </body>
</html>