<header>
    <nav role="navigation">
        <div class="hamburger hamburger--elastic" tabindex="0"
        aria-label="Menu" role="button" aria-controls="navigation">
     <div class="hamburger-box">
       <div class="hamburger-inner"></div>
     </div>
   </div>
   <div id="navigation" class="disp_none h-100vh color-2 bg-color-menu">
    <h1>HELLO WORLD</h1>
    <h1>HELLO WORLD</h1>
    <h1>HELLO WORLD</h1>
    <h1>HELLO WORLD</h1>
   </div>
   
    </nav>
</header>