<header class="w-100">
    <a href=""><img id="logo" class="logo logo_center logo logo-mobile m-top-mobile m-t-10 z_3" src="./assets/img/logo.png" alt="logo"></a>
    <nav role="navigation" class="menu_cool z_2">
        <div class="w-55 d-flex a-i-center j-c-end m-t-50 p-r-50 p-r-25-mobile m-t-25-mobile">
            <div class="hamburger hamburger--spring outline-none" tabindex="0" aria-label="Menu" role="button" aria-controls="navigation">
                <div class="d-flex a-i-center z_2">
                    <p class="color-5 fs-20 encodeSansCondensed m-social d-none-mobile">MENU</p>
                    <div class="hamburger-box">
                        <div class="hamburger-inner"></div>
                    </div>
                </div>
            </div>
        </div>      
    </nav>
    <div id="navigation" class="fixed z_0 disp_none w-100 h-100vh encodeSansCondensed bg-color-menu h-100mobile h-100vh-tablet">
        <div class="d-flex j-c-between fs-20 color-5 a-i-center">
            <a href="" class="m-t-50 color-5 fs-20 no_line m-home z_2 absolute">HOME</a>
        </div>
        <div class="d-flex flex-direction-column h-100 j-c-center">
            <div class ="w-50 center p-t-20 fs-nav color-5">
                <div class="d-flex flex-direction-column fs-nav-mobile">
                    <a href="" class="color-5 no_line">HOME</a>
                    <a href="tricafe" class="color-5 no_line p-t-10">NOTRE SELECTION</a>
                    <a href="mentionslegales" class="color-5 no_line p-t-10">MENTIONS LEGALES</a>
                </div>
            </div>
            <div class="w-50 center fs-nav color-2 w-100-mobile text-center-mobile">
                <a href="#" class="fa fa-facebook color-2 no_line m-social m-t-50"></a>
                <a href="#" class="fa fa-twitter color-2 no_line m-social"></a>
                <a href="#" class="fa fa-instagram color-2 no_line "></a>
            </div>
        </div>
    </div>
        </header>