{% extends 'Layout/layout.html.twig' %}

{% block title %}
    {{ parent() }} - Page Introuvable</title>
{% endblock %}

{% block content %}
    <section class="d-flex flex-direction-column j-c-center a-i-center h-100vh h-100vh-mobile h-100vh-tablet">
        <div class="d-flex a-i-center">
            <span class="fs-80 encodeSansCondensed color-4"> Error 4</span><img src="./assets/img/logo.png" class="logo"/><span class="fs-80 Merriweather color-4">4</span>
        </div>           
        <a href="" class="fs-40 color-3 text-decoration-none m-t-50 text-center encodeSansCondensed">Retourner sur la page principale</a>
    </section>
{% endblock %}