@import "reset";
@import "mixins";


/*/////////////////////////////////////  /////////////////////////////////////
/////////////////////////////////////  WIDTHS && HEIGHTS  /////////////////////////////////////
/////////////////////////////////////  /////////////////////////////////////*/




/*/////////////////////////////////////  /////////////////////////////////////
/////////////////////////////////////  PADDINGS && MARGINS  /////////////////////////////////////
/////////////////////////////////////  /////////////////////////////////////*/




/*/////////////////////////////////////  /////////////////////////////////////
/////////////////////////////////////  FLEX PROPERTIES  /////////////////////////////////////
/////////////////////////////////////  /////////////////////////////////////*/
.d-flex{
    display:flex;
}
.flex-direction-column{
    flex-direction:column;
}
.flex-direction-row{
    flex-direction:row;
}
.a-i-center{
    align-items:center;
}
.j-c-center{
    justify-content:center;
}
.j-c-around{
    justify-content:space-around;
}

.j-c-end{
    justify-content:flex-end;
}

/*/////////////////////////////////////  /////////////////////////////////////
/////////////////////////////////////  COLORS && BACKGROUNDS  /////////////////////////////////////
/////////////////////////////////////  /////////////////////////////////////*/
.text-white{
    color:#ffffff;
}

/*/////////////////////////////////////  /////////////////////////////////////
/////////////////////////////////////  FONT STUFF  /////////////////////////////////////
/////////////////////////////////////  /////////////////////////////////////*/

.text-center{
    text-align:center;
}
.text-justify{
    text-align:justify;
}
.text-decoration-none{
    text-decoration:none;
}
/*/////////////////////////////////////  /////////////////////////////////////
/////////////////////////////////////  POSITIONING && BORDERS  /////////////////////////////////////
/////////////////////////////////////  /////////////////////////////////////*/
.pos-fixed{
    position:fixed;
}








