/*/////////////////////////////////////  /////////////////////////////////////
/////////////////////////////////////  WIDTHS && HEIGHTS  /////////////////////////////////////
/////////////////////////////////////  /////////////////////////////////////*/
html{size: 62.5%;}

.w-100{width:100%;}
.w-95{width:95%;}
.w-85{width:85%;}
.w-75{width:75%;}
.w-60{width:60%;}
.w-65{width:65%;}
.w-55{width:55%;}
.w-50{width:50%;}
.w-45{width:45%;}
.w-35{width:35%;}
.w-25{width:25%;}
.w-17{width:17%;}
.w-10{width:10%;}

.h-100{height:100%;}
.h-95{height:95%;}
.h-75{height:75%;}
.h-65{height:65%;}
.h-85{height:85%;}
.h-50{height:50%;}
.h-35{height:35%;}
.h-25{height:25%;}

.h-25vh{height:25vh;}
.h-100vh{height:100vh;}
.h-180vh{height:180vh;}

.h-auto{ height: auto;}

.logo{
    width: 130px;
    height: auto;
}
.img-découverte{
    width:200px;
    height:auto;
}

/*/////////////////////////////////////  /////////////////////////////////////
/////////////////////////////////////  PADDINGS && MARGINS  /////////////////////////////////////
/////////////////////////////////////  /////////////////////////////////////*/

.p-5{padding:5px;}
.p-10{padding:10px;}
.p-15{padding:15px;}
.p-20{padding:20px;}

.p-l-5{padding-left:5px;}
.p-l-10{padding-left:10px;}
.p-l-15{padding-left:15px;}
.p-l-20{padding-left:20px;}

.p-r-5{padding-right:5px;}
.p-r-10{padding-right:10px;}
.p-r-15{padding-right:15px;}
.p-r-20{padding-right:20px;}
.p-r-50{padding-right:50px;}

.p-t-5{padding-top:5px;}
.p-t-10{padding-top:10px;}
.p-t-15{padding-top:15px;}
.p-t-20{padding-top:20px;}
.p-t-50{padding-top:50px;}

.p-b-5{padding-bottom:5px;}
.p-b-10{padding-bottom:10px;}
.p-b-15{padding-bottom:15px;}
.p-b-20{padding-bottom:20px;}
.p-b-50{padding-bottom:50px;}

.m-5{margin:5px;}
.m-10{margin:10px;}
.m-15{margin:15px;}
.m-20{margin:20px;}

.m-social {margin-right:20px;}
.m-home   {margin-left:20px ;}
.m-t-50   {margin-top:50px  ;}
.m-t-10   {margin-top: 10px ;}
.m-b-50   {margin-bottom: 50px;}

/*/////////////////////////////////////  /////////////////////////////////////
/////////////////////////////////////  FLEX PROPERTIES  /////////////////////////////////////
/////////////////////////////////////  /////////////////////////////////////*/

.d-flex {
    display: flex; }

.flex-direction-column {
    flex-direction: column; }

.flex-direction-row {
    flex-direction: row; }

.a-i-center {
    align-items: center; }
    
.j-c-center {
    justify-content: center; }

.j-c-around {
    justify-content: space-around; }

.j-c-between {
    justify-content: space-between; }

.j-c-evenly {
    justify-content: space-evenly; }

.j-c-end {
    justify-content: flex-end; }

.j-s-flex-end {
    justify-self: flex-end;}

.j-s-center{ 
    justify-self: center;}


/*/////////////////////////////////////  /////////////////////////////////////
/////////////////////////////////////  COLORS && BACKGROUNDS  /////////////////////////////////////
/////////////////////////////////////  /////////////////////////////////////*/

.color-1{
    color: #444444; }
.color-2 {
    color: #f4f4f0; }
.color-3 {
    color: #394c23; }
.color-4 {
    color: #53312B; }
.color-5 {
    color: #AA756F; }

.bg-img-1{
    background: url("../img/bg_coffee1.jpg") center center no-repeat;
    background-size: cover;
}

.bg-img-2{
    background: url("../img/bg_coffee2.jpg") center center no-repeat;
    background-size: cover;
}

.bg-color-1{
    background-color:#f4f4f0;
}

.bg-color-menu{
    background-color:#53312B;
}


/*/////////////////////////////////////  /////////////////////////////////////
/////////////////////////////////////  FONT STUFF  /////////////////////////////////////
/////////////////////////////////////  /////////////////////////////////////*/

.fs-nav { font-size:4.4rem ;}
.fs-18  { font-size:1.8rem ;}
.fs-20  { font-size:2rem ;}
.fs-30  { font-size:3rem ;}
.fs-40  { font-size:4rem ;}
.fs-45  { font-size:4.5rem ;}
.fs-55  { font-size:5.5rem ;}

.encodeSansCondensed{
    font-family:
    'Encode Sans Condensed',
    'sans serif'
;}

.Merriweather{
    font-family:
    'Merriweather',
    'serif'
;}

.fw-thin {font-weight: 300}
.fw-bold {font-weight: 700}

.fs-italic {font-style: italic;}

.text-justify{text-align: justify;}
.text-center{text-align:center;}
.text-right{text-align:right;}
.outline-none{outline:none;}
.text-decoration-none{text-decoration:none;}

.line_h {line-height: 3.5rem;}
/*/////////////////////////////////////  /////////////////////////////////////
/////////////////////////////////////  MENU BURGER  /////////////////////////////////////
/////////////////////////////////////  /////////////////////////////////////*/


.disp_none { display: none;}


.menu_cool {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    display:flex;
    justify-content: flex-end;
}



/*/////////////////////////////////////  /////////////////////////////////////
/////////////////////////////////////  STYLE  /////////////////////////////////////
/////////////////////////////////////  /////////////////////////////////////*/

.no_line {text-decoration: none;}
.center  {margin: 0 auto;}
.fixed   {position: fixed;}
.z_2 {z-index: 4;}
.z_1 {z-index: 3;}
.z_0 {z-index: 2;}
.fixed{position:fixed;}
.absolute { position: absolute; }

.logo_center {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
  }
/*/////////////////////////////////////  /////////////////////////////////////
/////////////////////////////////////  BORDERS & STUFF  /////////////////////////////////////
/////////////////////////////////////  /////////////////////////////////////*/

.span-borders{
    border: 1px solid #394c23;
    width:100px;
    height:1px;
}

.span-borders-vertical80{
    border: 1px solid #394c23;
    width:1px;
    height:80px;
}

.span-borders-vertical120{
    border: 1px solid #394c23;
    width:1px;
    height:120px;
}

.border-top-1{
    border-top:1px solid #394c23;
}

/*/////////////////////////////////////  /////////////////////////////////////
/////////////////////////////////////  TRANSITION MENU  ///////////////////////
/////////////////////////////////////  /////////////////////////////////////*/

.transition { transition: all 0.5s ease ;}


/*/////////////////////////////////////  /////////////////////////////////////
/////////////////////////////////////   MEDIA QUERIES   ///////////////////////
/////////////////////////////////////  /////////////////////////////////////*/

@media (max-width: 375px) and (max-height : 736px) {
    .img-badge {width : 50%;}
    .h-100vh {height: inherit;}
    .txt-center {margin: 0 auto;}
    .w-full {width : 100%; }
    .w-none {width : none; }
    .w100 {width: 100%;}
    .w-75{width:75%;}
}


@media (max-width: 576px) { 
    .d-none-mobile{display:none;}
    .fs-55{font-size:3rem;}
    .fs-45{font-size:2.5rem;}
    .fs-30{font-size:2rem;}
    .fs-20{font-size:1.5rem;}
    .fs-18{font-size:1.3rem;}
    .fs-nav{font-size:2.5rem;}
    .w-100-mobile{width:100%;}
    .text-center-mobile{text-align:center;}
    .flex-column-mobile{flex-direction:column;}
    .j-c-between-mobile{justify-content:space-between;}
    .m-t-50-mobile{margin-top:50px;}
    .m-t-25-mobile{margin-top:25px;}
    .line_h_normal_mobile{line-height:normal;}
    .h-100vh{height:80vh;}
    .logo-mobile {width: 100px;}
    .m-top-mobile {margin-top : 10px;}
    .h-100mobile{height: 100vh;}
    .w-mobile-txt {width : 90%}
    .align-mobile {margin: 0 auto;}
    
 
 }

@media (min-width: 577px) and (max-width: 768px) { 
    .d-none-tablet {display:none;}
    .fs-55{font-size:4rem;}
    .fs-45{font-size:2.75rem;}
    .fs-30{font-size:2.3rem;}
    .fs-20{font-size:1.8rem;}
    .fs-18{font-size:1.5rem;}
    .fs-nav{font-size:3rem;}
    .w-100-tablet{width:100%;}
    .h-100vh{height:50vh;}
    .j-c-center-tablet{justify-content:center;}
    .j-c-around-tablet{justify-content:space-around;}
    .line_h_normal_mobile{line-height:normal;}
    .h-100mobile{height: 100vh;}
    .logo-mobile {width: 100px;}
    .m-top-mobile {margin-top : 10px;}
    .align-center-tablet {width : 150%;}
    .h-mobile {height: 180%;}
}

@media (min-width: 600px) and (max-width: 600px) { 

    .w-92-tablet {width : 92%}
    .m-top-tablet {margin-top : 100px;}

}

@media (min-width: 768px) and (max-width: 768px) { 

    .h-8vh{height:80vh;}

}

@media (min-width: 992px) {  }

@media (min-width: 1200px) {  }