{% extends 'Layout/layout.html.twig' %}

{% block title %}
    {{ parent() }} - Home</title>
{% endblock %}

{% block content %}
<!-- Bloc intro-->
<section class="bg-img-1 w-100 h-100vh d-flex a-i-center j-c-around">
    <div class="d-flex j-c-center a-i-center h-50 w-50">
        <img class="w-75 h-auto" src="./assets/img/coffee-beans.png">
    </div>
    <div class="d-flex flex-direction-column j-c-around h-50 w-35">
        <div>
            <p class="fs-55">LOREM IPSUM</p>
            <p class="fs-55">DOLOR</p>
            <p class="fs-55">SIT AMET</p>
        </div>
        <a href="#" class="fs-30 color-3 text-decoration-none">Découvrir nos cafés</a>
    </div>
</section>

<!-- Bloc labels-->
<section class="h-100vh d-flex a-i-center">
    <div class="w-50 h-50 d-flex j-c-end">
        <div class="w-75 d-flex j-c-between flex-direction-column">
            <div>
                <p class="fs-30 p-b-20">Notre café arabica</p>
                <p class="fs-55">LOREM IPSUM</p>
                <p class="fs-55">DOLOR</p>
                <p class="fs-55">SIT AMET</p>
            </div>
            <div>
                <a href="#" class="fs-30 color-3 text-decoration-none">Découvrir nos cafés</a>
            </div>
        </div>
    </div>
    <div class="w-50 d-flex j-c-center a-i-center">
        <img class="w-75 h-auto" src="./assets/img/labels_coffeart.png">
    </div>
</section>

<!-- Bloc histoire-->
<section class="h-100vh d-flex a-i-center">
    <div class="w-50 d-flex j-c-center a-i-center">
        <img class="w-60 h-auto" src="./assets/img/beans_cup.jpg">
    </div>
    <div class="w-50 h-50 d-flex j-c-end">
        <div class="w-75">
            <div class="h-100 d-flex j-c-between flex-direction-column">
                <p class="fs-30 p-b-20">Notre histoire et nos valeurs</p>
                <div>
                    <p class="fs-55">LOREM IPSUM</p>
                    <p class="fs-55">DOLOR</p>
                    <p class="fs-55">SIT AMET</p>
                </div>
                <div class="w-75">
                    <p class="fs-20 text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil fugit qui consectetur quis assumenda dolor nesciunt, aperiam eaque itaque inventore beatae id error adipisci rerum, deserunt culpa deleniti ea nam.Dolor sunt mollit qui Lorem et non reprehenderit id.</p>
                </div>
            </div>
        </div>
    </div>
    
</section>

{# Bloc découverte #}
<section class="d-flex flex-direction-column a-i-center w-100 h-150vh j-c-around">

    <div class="w-75 text-center fs-30 color-4">
        <a href="#" class="fs-20 text-decoration-none color-3"> 
            Découvrir nos gammes
        </a>
        <p class="p-5">
            DUO REGES: CONSTRUCTIO INTERRETE.
        </p>
        <p class="p-5">
            NIHILO MAGIS. ROGES ENI
        </p>
        <p class="p-5">
            DOLOR ERGO, ID EST
        </p>
    </div>
    <div class=" w-100 d-flex j-c-start">
        <div class="w-75 d-flex j-c-center a-i-center">
            <img src="./assets/img/coffee+green.jpg" class="img-découverte">
            <div class="w-50 p-l-20">
                <p class="fs-30 color-3 p-5">
                    Notre histoire et nos valeurs
                </p>
                <p class="fs-55 color-4 p-5">
                    LOREM IPSUM
                </p>
                <p class="fs-20 color-4 p-5">
                    If you could count the skeletons in my closet. Under my bed and up under my faucet. 
                    Then you would know I've completely lost it. Is he nuts? No, he's insane. 
                    If you could count the skeletons in my closet. Under my bed and up under my faucet. 
                    Then you would know I've completely lost it. Is he nuts? No, he's insane.
                </p>
                <div class="d-flex a-i-center j-c-start">
                    <span class="span-borders p-l-10"></span>
                    <a href="#" class="fs-30 color-3 p-l-10 text-decoration-none d-flex">
                    Découvrir nos cafés
                    </a>
                </div>
            </div>
        </div>
    </div>


    <div class=" w-100 d-flex j-c-end">
        <div class="w-75 d-flex j-c-center a-i-center ">
            <img src="./assets/img/paul-morris-128426-unsplash.jpg" class="img-découverte">
            <div class="w-50 p-l-20">
                <p class="fs-30 color-3 p-5">
                    Notre histoire et nos valeurs
                </p>
                <p class="fs-55 color-4 p-5">
                    LOREM IPSUM
                </p>
                <p class="fs-20 color-4 p-5">
                    If you could count the skeletons in my closet. Under my bed and up under my faucet. 
                    Then you would know I've completely lost it. Is he nuts? No, he's insane. 
                    If you could count the skeletons in my closet. Under my bed and up under my faucet. 
                    Then you would know I've completely lost it. Is he nuts? No, he's insane.
                </p>
                <div class="d-flex a-i-center">
                    <span class="span-borders p-l-10"></span>
                    <a href="#" class="fs-30 color-3 p-l-10 text-decoration-none d-flex">
                        Découvrir nos cafés
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class=" w-100 d-flex j-c-start">
        <div class="w-75 d-flex j-c-center a-i-center">
            <img src="./assets/img/coffee+green.jpg" class="img-découverte">
            <div class="w-50 p-l-20">
                <p class="fs-30 color-3 p-5">
                    Notre histoire et nos valeurs
                </p>
                <p class="fs-55 color-4 p-5">
                    LOREM IPSUM
                </p>
                <p class="fs-20 color-4 p-5">
                    If you could count the skeletons in my closet. Under my bed and up under my faucet. 
                    Then you would know I've completely lost it. Is he nuts? No, he's insane. 
                    If you could count the skeletons in my closet. Under my bed and up under my faucet. 
                    Then you would know I've completely lost it. Is he nuts? No, he's insane.
                </p>
                <div class="d-flex a-i-center j-c-start">
                    <span class="span-borders p-l-10"></span>
                    <a href="#" class="fs-30 color-3 p-l-10 text-decoration-none d-flex">
                    Découvrir nos cafés
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}