{% extends 'Layout/layout.html.twig' %}

{% block title %}
    {{ parent() }} - Home</title>
{% endblock %}

{% block content %}
<!-- Bloc intro-->
<section class="bg-img-1 w-100 h-100vh d-flex a-i-center j-c-around">
    <div class="d-flex j-c-center a-i-center h-50 w-50 w-100-tablet">
        <img class="w-75 h-auto d-none-mobile" src="./assets/img/coffee-leaf.png">
    </div>
    <div class="d-flex flex-direction-column j-c-around h-50 w-35 w-100-mobile align-center-tablet j-c-center-tablet">
        <div class="encodeSansCondensed color-4 fw-thin">
            <p class="fs-55">Des saveurs</p>
            <p class="fs-55">exceptionnelles</p>
            <p class="fs-55">et intenses</p>
        </div>
        <div class="d-flex a-i-center">
            <span class="span-borders p-l-10 d-none-mobile"></span>
            <a href="#" class="m-home  fs-20 color-3 text-decoration-none encodeSansCondensed">Découvrir nos cafés</a>
        </div>
    </div>
</section>

<!-- Bloc labels-->
<section class="h-100vh d-flex a-i-center flex-column-mobile j-c-between-mobile m-t-50-mobile">
    <div class="w-50 h-50 d-flex j-c-end">
        <div class="w-75 d-flex j-c-between flex-direction-column w-100-mobile j-c-around-tablet">
            <div class="encodeSansCondensed">
                <p class="color-5 fs-30 p-b-20">Notre café arabica</p>
                <p class="fs-55">QUATRE COULEURS</p>
                <p class="fs-55">POUR UN GOÛT</p>
                <p class="fs-55">NOVATEUR</p>
            </div>
            <div class="d-flex a-i-center">
                <span class="span-borders p-l-10 d-none-mobile"></span>
                <a href="#" class="m-home fs-20 color-3 text-decoration-none encodeSansCondensed m-t-25-mobile">Découvrir nos cafés</a>
            </div>
        </div>
    </div>
    <div class="w-50 d-flex j-c-center a-i-center w-100-mobile">
        <img class="w-75 h-auto img-badge " src="./assets/img/labels_coffeart.png">
    </div>
</section>

<!-- Bloc histoire-->
<section class="h-100vh d-flex a-i-center">
    <div class="w-50 d-flex j-c-center a-i-center d-none-mobile">
        <img class="w-60 h-auto " src="./assets/img/beans_cup.jpg">
    </div>
    <div class="w-50 h-85 d-flex j-c-end w-100-mobile">
        <div class="w-75 w-100-mobile">
            <div class="h-100 d-flex j-c-between flex-direction-column encodeSansCondensed">
                <p class="color-5 fs-30 p-b-20 w-mobile-txt align-mobile">Notre histoire et nos valeurs</p>
                <div class="encodeSansCondensed w-mobile-txt align-mobile">
                    <p class="fs-55">LOREM IPSUM</p>
                    <p class="fs-55">DOLOR</p>
                    <p class="fs-55">SIT AMET</p>
                </div>
                <div class="w-75 w-100-mobile w-92-tablet">
                    <p class="fs-18 text-justify Merriweather color-1 m-t-50 line_h line_h_normal_mobile w-mobile-txt align-mobile">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil fugit qui consectetur quis assumenda dolor nesciunt, aperiam eaque itaque inventore beatae id error adipisci rerum, deserunt culpa deleniti ea nam.Dolor sunt mollit qui Lorem et non reprehenderit id.</p>
                </div>
            </div>
        </div>
    </div>
    
</section>

{# Bloc découverte #}
<section class="d-flex flex-direction-column a-i-center w-100  j-c-between m-t-50" >

    <div class="w-75 text-center fs-45 color-4 encodeSansCondensed m-top-tablet">
        <a href="#" class="fs-20 text-decoration-none color-3"> 
            Découvrir nos gammes
        </a>
        <p class="p-5 m-t-50">
            DUO REGES: CONSTRUCTIO INTERRETE.
        </p>
        <p class="p-5">
            NIHILO MAGIS. ROGES ENI
        </p>
        <p class="p-5">
            DOLOR ERGO, ID EST
        </p>
    </div>
    <div class=" w-100 d-flex j-c-start m-top-mobile m-t-50  w-100-mobile">
        <div class="w-75 d-flex j-c-center a-i-center w-100-mobile flex-column-mobile j-c-between-mobile">
            <img src="./assets/img/coffee+green.jpg" class="img-découverte m-top-mobile">
            <div class="w-50 p-l-20 encodeSansCondensed w-100-mobile">
                <p class="fs-18 color-3 p-5">
                    Notre histoire et nos valeurs
                </p>
                <p class="fs-45 color-4 p-5">
                    LOREM IPSUM
                </p>
                <p class="fs-18 color-1 line_h p-5 Merriweather w-mobile-txt text-justify line_h_normal_mobile">
                    If you could count the skeletons in my closet. Under my bed and up under my faucet. 
                    Then you would know I've completely lost it. Is he nuts? No, he's insane. 
                    If you could count the skeletons in my closet. Under my bed and up under my faucet. 
                    Then you would know I've completely lost it. Is he nuts? No, he's insane.
                </p>
                <div class="d-flex a-i-center j-c-start m-t-50">
                    <span class="span-borders p-l-10 d-none-mobile"></span>
                    <a href="#" class="fs-20 color-3 p-l-10 text-decoration-none d-flex">
                    Découvrir nos cafés
                    </a>
                </div>
            </div>
        </div>
    </div>


    <div class=" w-100 d-flex j-c-end m-top-mobile m-t-50 ">
        <div class="w-75 d-flex j-c-center a-i-center w-100-mobile">
            <img src="./assets/img/coffee+green.jpg" class="img-découverte d-none-mobile">
            <div class="w-50 p-l-20 encodeSansCondensed w-100-mobile">
                <p class="fs-18 color-3 p-5">
                    Notre histoire et nos valeurs
                </p>
                <p class="fs-45 color-4 p-5">
                    LOREM IPSUM
                </p>
                <p class="fs-18 color-1 p-5 Merriweather w-mobile-txt text-justify line_h line_h_normal_mobile">
                    If you could count the skeletons in my closet. Under my bed and up under my faucet. 
                    Then you would know I've completely lost it. Is he nuts? No, he's insane. 
                    If you could count the skeletons in my closet. Under my bed and up under my faucet. 
                    Then you would know I've completely lost it. Is he nuts? No, he's insane.
                </p>
                <div class="d-flex a-i-center m-t-50">
                    <span class="span-borders p-l-10 d-none-mobile"></span>
                    <a href="#" class=" fs-20 color-3 p-l-10 text-decoration-none d-flex">
                        Découvrir nos cafés
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class=" w-100 d-flex j-c-start m-top-mobile m-t-50 ">
        <div class="w-75 d-flex j-c-center a-i-center w-100-mobile">
            <img src="./assets/img/coffee+green.jpg" class="img-découverte d-none-mobile">
            <div class="w-50 p-l-20 encodeSansCondensed w-100-mobile">
                <p class="fs-18 color-3 p-5">
                    Notre histoire et nos valeurs
                </p>
                <p class="fs-45 color-4 p-5">
                    LOREM IPSUM
                </p>
                <p class="fs-18 color-1 p-5 Merriweather w-mobile-txt text-justify line_h line_h_normal_mobile">
                    If you could count the skeletons in my closet. Under my bed and up under my faucet. 
                    Then you would know I've completely lost it. Is he nuts? No, he's insane. 
                    If you could count the skeletons in my closet. Under my bed and up under my faucet. 
                    Then you would know I've completely lost it. Is he nuts? No, he's insane.
                </p>
                <div class="d-flex a-i-center j-c-start m-t-50 m-b-50">
                    <span class="span-borders p-l-10 d-none-mobile"></span>
                    <a href="#" class="fs-20 color-3 p-l-10 text-decoration-none d-flex ">
                    Découvrir nos cafés
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>   

{% endblock %}