{% extends 'Layout/layout.html.twig' %}

{% block title %}
    {{ parent() }} - Home</title>
{% endblock %}

{% block content %}
<!-- Bloc intro-->
<section class="bg-img-1 w-100 h-100vh d-flex a-i-center j-c-around">
    <div class="d-flex j-c-center a-i-center h-50 w-50 w-100-tablet">
        <img class="w-75 h-auto d-none-mobile" src="./assets/img/coffee-leaf.png">
    </div>
    <div class="d-flex flex-direction-column j-c-around h-50 w-35 w-100-mobile align-center-tablet j-c-center-tablet">
        <div class="encodeSansCondensed color-4 fw-thin">
            <p class="fs-55 fw-bold">COFFE ART :</p>
            <p class="fs-55">La référence du</p>
            <p class="fs-55">café arabica</p>
        </div>
        <div class="d-flex a-i-center p-t-15-tablet">
            <span class="span-borders p-l-10 d-none-mobile"></span>
            <a href="tricafe" class="m-home  fs-20 color-3 text-decoration-none encodeSansCondensed ">Découvrir les cafés</a>
        </div>
    </div>
</section>

<!-- Bloc labels-->
<section class="h-100vh d-flex a-i-center flex-column-mobile j-c-between-mobile m-t-50-mobile">
    <div class="w-50 h-50 d-flex j-c-end">
        <div class="w-75 d-flex j-c-between flex-direction-column w-100-mobile j-c-around-tablet">
            <div class="encodeSansCondensed">
                <p class="color-5 fs-30 p-b-20">Une sélection colorée</p>
                <p class="fs-55">QUATRE COULEURS</p>
                <p class="fs-55">POUR UN GOÛT</p>
                <p class="fs-55">NOVATEUR</p>
            </div>
            <div data-aos="fade-right" data-aos-duration="500" class="d-flex a-i-center p-t-15-tablet">
                <span class="span-borders p-l-10 d-none-mobile"></span>
                <a href="tricafe" class="m-home fs-20 color-3 text-decoration-none encodeSansCondensed m-t-25-mobile">Découvrir les cafés</a>
            </div>
        </div>
    </div>
    <div class="w-50 d-flex j-c-center a-i-center w-100-mobile">
        <img data-aos="fade-up" data-aos-duration="1500" class="w-75 h-auto img-badge " src="./assets/img/labels_coffeart.png">
    </div>
</section>

<!-- Bloc histoire-->
<section class="h-100vh d-flex a-i-center">
    <div class="w-50 d-flex j-c-center a-i-center d-none-mobile">
        <img data-aos="zoom-in" data-aos-duration="2000" class="w-60 h-auto w-90-tablet" src="./assets/img/beans_cup.jpg">
    </div>
    <div class="w-50 h-85 d-flex j-c-end w-100-mobile">
        <div class="w-75 w-100-mobile">
            <div class="h-100 d-flex j-c-between flex-direction-column encodeSansCondensed">
                <p class="color-5 fs-30 p-b-20 w-mobile-txt align-mobile">Vous faire découvrir...</p>
                <div class="encodeSansCondensed w-mobile-txt align-mobile">
                    <p class="fs-55">LE CAFÉ</p>
                    <p class="fs-55">ARABICA</p>
                    <p class="fs-55">DANS LE MONDE</p>
                </div>
                <div class="w-75 w-100-mobile w-92-tablet">
                    <p class="fs-18 text-justify Merriweather color-1 m-t-50 line_h line_h_normal_mobile w-mobile-txt align-mobile">Emmanuelle, Alpha, Ludovic, Valentin et Alexandre ont développé ce site dans le but de créer une base de référence sur les cafés Arabica. Vous trouverez les plus grands cafés du monde avec leurs informations respectives afin de vous aiguiller dans votre choix.</p>
                </div>
            </div>
        </div>
    </div>
    
</section>

{# Bloc découverte #}
<section class="d-flex flex-direction-column a-i-center w-100  j-c-between m-t-50" >

    <div class="w-75 text-center fs-45 color-4 encodeSansCondensed m-top-tablet">
        <a href="tricafe" class="fs-20 text-decoration-none color-3"> 
            Découvrir les gammes
        </a>
        <p class="p-5 m-t-50">
            UNE SELECTION PAR NOM, COULEUR,
        </p>
        <p class="p-5">
            PRODUCTEUR ET PAYS D'ORIGINE !
        </p>
        <p class="p-5">
           
        </p>
    </div>
    <div class=" w-100 d-flex j-c-start m-top-mobile m-t-50 w-100-mobile p-t-b-20-mobile">
        <div class="w-75 d-flex j-c-center a-i-center w-100-mobile flex-column-mobile j-c-between-mobile">
            <img data-aos="fade-down" data-aos-duration="2000" src="./assets/img/coffee_tricolor.jpg" class="img-découverte m-top-mobile">
            <div class="w-50 p-l-20 encodeSansCondensed w-100-mobile p-t-b-20-mobile">
                <p class="fs-18 color-3 p-5">
                    Le café aux trois 
                </p>
                <p class="fs-45 color-4 p-5">
                    COULEURS
                </p>
                <p class="fs-18 color-1 line_h p-5 Merriweather w-mobile-txt text-justify line_h_normal_mobile">
                    Le choix d'un café est très important. Sa couleur de torréfaction est un critère fondamentale dans le goût que vous recherchez.
                    En effet, son caractère, son arôme et sa douceur dépendront de plusieurs critères de sélection. 
                    COFFE ART est là pour vous aider et vous indiquer les différentes informations sur chaque café Arabica. 
                </p>
                <div data-aos="fade-right" data-aos-duration="500" class="d-flex a-i-center j-c-start m-t-50 m-t-10-mobile">
                    <span class="span-borders p-l-10 d-none-mobile"></span>
                    <a href="tricafe" class="fs-20 color-3 p-l-10 text-decoration-none d-flex">
                    Découvrir les cafés
                    </a>
                </div>
            </div>
        </div>
    </div>


    <div class=" w-100 d-flex j-c-end m-top-mobile m-t-50 p-t-b-20-mobile">
        <div class="w-75 d-flex j-c-center a-i-center w-100-mobile">
            <img data-aos="fade-right" data-aos-duration="2000" src="./assets/img/coffee_map.jpg" class="img-découverte d-none-mobile">
            <div class="w-50 p-l-20 encodeSansCondensed w-100-mobile">
                <p class="fs-18 color-3 p-5">
                    Des origines du 
                </p>
                <p class="fs-45 color-4 p-5">
                    MONDE ENTIER
                </p>
                <p class="fs-18 color-1 p-5 Merriweather w-mobile-txt text-justify line_h line_h_normal_mobile">
                    Le caféier d'Arabie est un petit arbre de moins de 9 m de haut, qui apprécie l'ombre d'arbres plus grands.
                    Ce caféier est originaire de l'Afrique de l'Est : Éthiopie, Soudan du Sud (plateau de Boma), Kenya. Seule espèce de caféier cultivé jusqu'en 1865, il est largement répandu dans les régions tropicales, notamment en Amérique Centrale (Costa Rica, Honduras) et en Amérique du Sud (Brésil). 
                </p>
                <div data-aos="fade-left" data-aos-duration="500" class="d-flex a-i-center m-t-50 m-t-10-mobile">
                    <span class="span-borders p-l-10 d-none-mobile"></span>
                    <a href="tricafe" class=" fs-20 color-3 p-l-10 text-decoration-none d-flex">
                        Découvrir les cafés
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class=" w-100 d-flex j-c-start m-top-mobile m-t-50 p-t-b-20-mobile">
        <div class="w-75 d-flex j-c-center a-i-center w-100-mobile">
            <img data-aos="fade-down" data-aos-duration="2000" src="./assets/img/coffee_mountain.jpg" class="img-découverte d-none-mobile">
            <div class="w-50 p-l-20 encodeSansCondensed w-100-mobile">
                <p class="fs-18 color-3 p-5">
                   Le café arabica 
                </p>
                <p class="fs-45 color-4 p-5">
                    Habitat et culture
                </p>
                <p class="fs-18 color-1 p-5 Merriweather w-mobile-txt text-justify line_h line_h_normal_mobile">
                    Cette espèce préfère les terres en altitude (200 à 2 000 mètres d'altitude). Son aire de culture s'étend de part et d'autre de l'équateur du 28e degré de latitude nord au 28e degré de latitude sud, mais il donne les meilleurs résultats dans les zones les plus tempérées. 
                </p>
                <div data-aos="fade-right" data-aos-duration="500" class="d-flex a-i-center j-c-start m-t-50 m-t-10-mobile">
                    <span class="span-borders p-l-10 d-none-mobile"></span>
                    <a href="tricafe" class="fs-20 color-3 p-l-10 text-decoration-none d-flex ">
                    Découvrir les cafés
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>   

{% endblock %}